.flex {
  display: flex;
}
.flex.center {
  justify-content: center;
}

.poke-header {
  background: #FEFEFE;
  border-bottom: 1px solid #AEAEAE;
}

.clickable {
  cursor: pointer;
}
.poke-card > div {
  background: #FEFEFE;
}
.poke-card:hover {
  filter: drop-shadow(0 0 2px #AEAEAE);
}

.poke-card .ant-card-body,
.poke-name {
  text-align: center;
}

.pokeball-header {
  height: 50px;
  cursor: pointer;
  filter: drop-shadow(0 0 2px #AEAEAE);
}

.pokeball-header.new{
  animation: glow 1.25s infinite ease-in-out;
}

.pokeball {
  width: 50px;
  transform-origin: bottom center;
  cursor: pointer;
  animation: wiggle 1.25s infinite ease-in-out;
}

.poke-loading {
  margin-top: 100px;
  width: 100px;
  animation: spin infinite 3s linear;
}

@keyframes wiggle {
  20% {
    transform: rotate(7deg);
  }
  
  40% {
    transform: rotate(-14deg);
  }
  
  60% {
    transform: rotate(4deg);
  }
  
  80% {
    transform: rotate(-2deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 2px #fc7272);
  }
  
  50% {
    filter: drop-shadow(0 0 8px #fc7272);
  }
  
  100% {
    filter: drop-shadow(0 0 2px #fc7272);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}